#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #000000; /* Set the background color */
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Add spacing between buttons */
  margin-top: 1rem;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #FFF0F5; /* Button background color */
  border: 2px dashed black; /* Button border */
  transition: background-color 0.3s ease; /* Optional: smooth transition */
}
